.bg-rias {
	
    background-image: url("../const/rias1.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	color: rgb(238, 233, 164);
	}

    
	.bg-fix{
	
		background-image: url("../const/fix.jpg");
		height: 100vh;
		background-position: center;
		background-repeat: no-repeat;
	  background-size: cover;
	  font-size: 20px;
		color: rgb(10, 17, 19)
		}
	  
	  


.file-upload {
	position: relative;
	overflow: hidden;

	border-radius: 3px !important;
	background: #007DAE;
	text-transform: uppercase;
	font-size: 13px;
	border:none !important;
	box-shadow: none !important;
	color: #fff !important;
	text-shadow:none;
	padding: 5px 10px !important;
	font-family: Arial, sans-serif;
	display: inline-block;
	vertical-align: middle;

}
.file-upload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
#fileuploadurl{
	display: inline-block;
	border:none;
	vertical-align: middle;
	background: none;
	box-shadow: none;
	font-size: 11px;
	padding-left: 0;
  width:220px;
	padding-right: 0;
}   